* { margin: 0px; padding: 0px;}

main {
  display: block;
  background-color: Black;
  height: 750px;
  background: url("gladiator.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 750px;
}

#display {
  position: absolute;
  background-color: rgb(150, 150, 150, 0.8);
  width: 100%;
  height: 1500px;
  vertical-align: middle;
  padding: 25px 0px;
  margin: auto;
}

#headerMessage {
  padding: 10px 0px;
}

#statsAndStuff {
  color: Black;
  width: 325px;
  opacity: 1.5;
  vertical-align: middle;
  /* padding: 0 0px; */
  margin: auto;
}

#gameMessageWrapper {
  position: relative;
}

#gameMessage {
  margin-top: 25px;
  vertical-align: center;
  margin: auto; /* account for padding and border if not using box-sizing: border-box; */
  text-align: justify;
  font-weight: bold;
}

#buttonMenu {
  text-align: center;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

p {
  padding: 7px 0px;
}

table {
  text-align: center;
  margin: auto;
  /*  padding-bottom: 30px; */
}

ul {
  list-style: none;
  padding: 10px;
}

td {
  padding: 0px 20px;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
}
