* { margin: 0px; padding: 0px;}

main {
  display: block;
  background-color: Black;
}

#display {
  background-color: DarkGrey;
  color: Black;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  vertical-align: middle;
  padding: 100px 0px;
}

h1 {
  font-size: 3em;
  text-align: center;
  padding: 40px 0px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

p {
  padding: 5px 20px;
}

table {
  text-align: center;
  margin: auto;
}

ul {
  list-style: none;
  padding: 10px;
}

td {
  padding: 0px 20px;
}

button {
  margin: 10px;
  padding: 10px;
  border-radius: 10%;
}

#gameMessage {
  text-align: center;
  font-weight: bold;
}

#buttonMenu {
  text-align: center;
}
